In [8]:
# 2557

print('Hello World!')

Hello World!

In [9]:
# 10718
# 두 줄에 걸쳐 "강한친구 대한육군"을 한 줄에 한 번씩 출력한다.

print('강한친구 대한육군 \n강한친구 대한육군')

강한친구 대한육군
강한친구 대한육군

In [17]:
# 10171
# 아래 예제와 같이 고양이를 출력하시오.

print('''\\    /\\
 )  ( ')
(  /  )
 \\(__)|''')

\    /\
 )  ( ')
(  /  )
 \(__)|

In [18]:
# 10172
# 아래 예제와 같이 개를 출력하시오.
print('''|\\_/|
|q p|   /}
( 0 )"""\\
|"^"`    |
||_/=\\\\__|''')

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

In [26]:
# 1000
# 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.
'''
입력 : 첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)
출력 : 첫째 줄에 A+B를 출력한다.
'''

'''
# trial_1 : 런타임 에러(ValueError)
a = int(input())
b = int(input())
print(a + b)
'''

#trial_2
a, b = input().split()
print(int(a) + int(b))

1 2
3

In [27]:
# 1001
# 두 정수 A와 B를 입력받은 다음, A-B를 출력하는 프로그램을 작성하시오.
'''
입력 : 첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)
출력 : 첫째 줄에 A-B를 출력한다.
'''

a, b = input().split()
print(int(a) - int(b))

3 2
1

In [28]:
# 10998
# 두 정수 A와 B를 입력받은 다음, A*B를 출력하는 프로그램을 작성하시오.
'''
입력 : 첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)
출력 : 첫째 줄에 A*B를 출력한다.
'''

a, b = input().split()
print(int(a) * int(b))

1 2
2

In [29]:
# 10998
# 두 정수 A와 B를 입력받은 다음, A/B를 출력하는 프로그램을 작성하시오.
'''
입력 : 첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)
출력 : 첫째 줄에 A/B를 출력한다.
'''

a, b = input().split()
print(int(a) / int(b))

1 3
0.3333333333333333

In [2]:
# 10869
# 두 자연수 A와 B가 주어진다.
# 이때, A+B, A-B, A*B, A/B(몫), A%B(나머지)를 출력하는 프로그램을 작성하시오.
'''
입력 : 두 자연수 A와 B가 주어진다. (1 ≤ A, B ≤ 10,000)
출력 : 첫째 줄에 A+B, 둘째 줄에 A-B, 
       셋째 줄에 A*B, 넷째 줄에 A/B, 다섯째 줄에 A%B를 출력한다.
'''
a, b = input().split()
print(int(a) + int(b))
print(int(a) - int(b))
print(int(a) * int(b))
print(int(a) // int(b))
print(int(a) % int(b))

7 3
10
4
21
2
1

In [4]:
# 10430
# (A+B)%C는 ((A%C) + (B%C))%C 와 같을까?
# (A×B)%C는 ((A%C) × (B%C))%C 와 같을까?
# 세 수 A, B, C가 주어졌을 때, 
# 위의 네 가지 값을 구하는 프로그램을 작성하시오.
'''
입력 : 첫째 줄에 A, B, C가 순서대로 주어진다. (2 ≤ A, B, C ≤ 10000)
출력 : 첫째 줄에 (A+B)%C, 둘째 줄에 ((A%C) + (B%C))%C, 셋째 줄에 (A×B)%C,
       넷째 줄에 ((A%C) × (B%C))%C를 출력한다.
'''

a, b, c = input().split()
A, B, C = int(a), int(b), int(c)
print((A + B) % C)
print(((A % C) + (B % C)) % C)
print((A * B) % C)
print(((A % C) * (B % C)) % C)

5 8 4
1
1
0
0

In [5]:
# 2588
# (세 자리 수) × (세 자리 수)는 다음과 같은 과정을 통하여 이루어진다.
# (1)과 (2)위치에 들어갈 세 자리 자연수가 주어질 때 
# (3), (4), (5), (6)위치에 들어갈 값을 구하는 프로그램을 작성하시오.
'''
입력 : 첫째 줄에 (1)의 위치에 들어갈 세 자리 자연수가, 
       둘째 줄에 (2)의 위치에 들어갈 세자리 자연수가 주어진다.
출력 : 첫째 줄부터 넷째 줄까지 차례대로 
       (3), (4), (5), (6)에 들어갈 값을 출력한다.
'''

a = int(input())
b = input()

print(a * int(b[2]))
print(a * int(b[1]))
print(a * int(b[0]))
print(a * int(b))

472
385
2360
3776
1416
181720